.search_engine {
    padding-top: 70px;
    padding-bottom: 70px;
}

.search_contant{
    background-image: url(../images/banner_2_background.jpg);
    padding: 20px 60px 50px 60px;
   
   
}

.responsive {
    width: 100%;
    max-width: 400px;
    height: auto;
  }

  .item-Partners{
      padding: 10px;
  }